.game_secuence {
  width: 100%;
}

.game_secuence nav {
  display: flex;
  justify-content: space-around;
  background: #803ece;
  align-items: center;
}

.game_secuence .btn_nav {
  border: none;
  padding: 5px;
  height: 30px;
  box-shadow: -3px 3px 0 gray;
  cursor: pointer;
}

.game_secuence .btn_nav:hover {
  background-color: #e9d6d1;
}


.game_secuence p {
  color: whitesmoke;
}

.game_secuence .container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.drum {
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 30px;
  cursor: pointer;
}

.drum_inner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.drum .active {
  opacity: 1;
}

.drum .deactive {
  opacity: 0;
}

.modal {
  border: 17px solid;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 10px;
  position: absolute;
  top: 140px;
  left: calc(50% - 170px);
  z-index: 2;
  background: #333;
  box-sizing: border-box;
}

.modal h2 {
  margin: 0;
}

.success {
  color: greenyellow;
  border-color: greenyellow;
}

.error {
  color: rgb(240, 50, 50);
  border-color: rgb(240, 50, 50);
}

.btn_modal {
  margin-top: 28px;
  padding: 10px 20px;
  height: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_modal:hover {
  background-color: #f080c5;
}

@media screen and (max-width: 480px) {
  .game_secuence .container {
    width: auto;
  }
  .modal {
    left: 11px;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  .game_secuence .container {
    width: 70%;
  }
  .modal {
    left: 30px;
  }
}